h1{
    padding: 1vh;
}


body{
    padding: 1vh;
    padding-left: 5vh;

}

.calculator-container {
    display: flex;
    flex-wrap: wrap; 
    align-items: center; 
    gap: 10px; 
    margin-top: 20px; 
    padding: 1vh;
}

.calculator-container label {
    font-family: sans-serif;
    font-size: 2vh;
    margin-right: 5px;
}

.calculator-container input {
    width: 100px; 
    padding: 5px;
    font-size: 2vh;
    border-radius: 5px;
}

.calculator-container .btn {
    font-size: 2vh;
    padding: 6px 12px;
    margin: 2px;
}
