.MG {
  background-color: rgb(207, 245, 207);
  color: rgb(0, 128, 0);
}

.blue {
  color: blue;
}

#img img {
  width: 500px;
  height: 300px;
  object-fit: cover;
  opacity: 0.6;
}

#img img:hover {
  opacity: 1;
  transition: opacity 0.5s;
}

.yellow {
  font-weight: normal;
  color: black;
}
